* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: var(--default-text);
  --text-color: var(--default-background);
}
.proj-card {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: var(--background-color);
  /* border-radius: 20px; */
  color: var(--text-color);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* box-shadow: rgba(255, 255, 255, 0.744) 0px 10px 15px; */
  border-radius: 20px;
}

.proj-card img {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  filter: brightness(110%) saturate(120%);
}

.card-details {
  text-align: left;
  padding-left: 10%;
  width: 80%;
}


